.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 60px;
    box-shadow: 0 1px 3px -2px #000;
    margin-bottom: 1px;
    background: white;
}
.nav-logo {
    width: 150px; /* Adjust the width as needed */
    margin-left: -30px;
}
.nav-profile {
    width: 65px; /* Adjust the width as needed */
}
@media(max-wdith:800px){
    .navbar{
        padding: 15px 30px;
    }
    .nav-logo{
        width: 70px;
    }
    .nav-profile{
        width: 60px;
    }
}
@media(max-wdith:500px){
    .navbar{
        padding: 4px 15px;
    }
    .nav-logo{
        width: 30px;
    }
    .nav-profile{
        width: 30px;
    }
}